.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper {
    padding: 1rem;
}

.content {
 display: flex;
 flex-direction: column-reverse;
 justify-content: center;
 gap: 1rem;
 align-items: center;
} 

.media {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    font-size: medium;
}

.image {
    display: block;
    object-fit: cover;
}

.section1text {
    max-width: 40vw;
}