.Nav-Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0vh;
}

.Nav-Logo {
    padding: 1rem;
    width: auto;
    text-align: center;
}

.Nav-List {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.Nav-Item {
    text-align: center;
    padding: 1rem;
}

.Nav-Link {
    text-decoration: none;
    color: black;
    font-size: large;
}

.Nav-Button {
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: large;
    border-radius: 6px;
    border: solid black 1px;
    padding: 0.2rem;
}

@media screen and (min-width: 700px) {
    /* styles for screens with a width greater than or equal to 700px */

    .Nav-Wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

    .Nav-List {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-decoration: none;
        list-style-type: none;
        padding: 1rem;
        gap: 1rem;
    }

}

@media screen and (min-width: 900px) {
    /* styles for screens with a width greater than or equal to 900px */

    .Nav-Wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25vw;
    }

    .Nav-List {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-decoration: none;
        list-style-type: none;
        padding: 1rem;
        gap: 1rem;
    }

}